/*
组件内部变量  */
/* 页面的基本样式常量 */
.personal-lists {
  display: block;
  position: relative;
  padding: 0 6%;
  background-color: #fff;
  line-height: 1.5rem;
}
.personal-lists li {
  width: 100%;
}
.personal-lists li span {
  margin-right: 0.4rem;
  display: inline-block;
}
.personal-lists .p-lists-title {
  line-height: 2rem;
}
.personal-lists .iconfont {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.personal-lists img {
  width: 36%;
  padding: 0.5rem 0;
}
.personal-lists .p-lists-desc {
  width: 60%;
  float: right;
}
