/*
组件内部变量  */
/* 页面的基本样式常量 */
html,
body,
p {
  padding: 0;
  margin: 0;
}
html,
body {
  font-size: 20px;
}
body {
  background-color: #eee;
}
body img {
  width: 100%;
}
a,
ul,
li {
  width: 100%;
  text-decoration: none;
}
input {
  outline: none;
  border: none;
  line-height: 100%;
  padding: 0;
  font: inherit;
}
/*基本常用类*/
.right {
  float: right;
}
.left {
  float: left;
}
.personal-lists {
  width: 100%;
  line-height: 1.5rem;
}
.personal-lists li {
  height: 1.5rem;
  width: 100%;
}
