/*
组件内部变量  */
/* 页面的基本样式常量 */
.personal-tap {
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: #666;
  text-align: center;
}
.personal-tap p {
  float: left;
  width: 25%;
}
.personal-tap p:after {
  content: "";
  width: 1px;
  height: 1.6rem;
  float: right;
  background-color: #ccc;
  top: 0.45rem;
  left: 1px;
  position: relative;
}
