/*
组件内部变量  */
@height-tap:2.5rem;
@bgColor-tap:#666;

@import "mixins";

.personal-tap{
   height: @height-tap;
   line-height: @height-tap;
   background-color: @bgColor-tap;
   text-align: center;
   position: relative;
   a{
     float: left;
     width: 50%;
   }
}
