@import "./varis";
html,body,p{
  padding: 0;
  margin: 0;
}

html,body{
  font-size: @bgFontSize
}
body{
  background-color: @bgColor;
  img{
    width: 100%;
  }
}
a,ul,li{
  width: 100%;
  text-decoration:none;
}


